<% table_data[:cells].each do |date, by_date| %>
  <h3><%= date  %></h3>
  <table class="index_table index">
    <thead>
      <tr>
        <th></th>
        <% by_date.each do |hour, _| %>
          <th colspan="<%= table_data[:types].count %>"><%= hour.in_time_zone.strftime('%l %P').strip %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% by_date.each do |_, by_hour| %>
          <% table_data[:types].each do |type| %>
            <th><%= type %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% table_data[:affiliates].each do |a| %>
        <tr>
          <td class="border-right">
            <%= a ? "A=#{a}" : 'No affiliate' %>
          </td>
          <% by_date.each do |_, by_hour| %>
            <% table_data[:types].each_with_index do |type, index| %>
              <% if type == 'total' %>
                <td><%= table_data[:types].sum { |t| by_hour.dig(a, t) || 0 } %></td>
              <% else %>
                <td <%= 'class=border-right' if index == (table_data[:types].size - 1) %>><%= by_hour.dig(a, type) || 0 %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
