<table class="index_table index">
  <thead>
    <tr>
      <th>Formsite</th>
      <th>Total</th>
      <th>Submitted</th>
      <th>Is Verified</th>
      <th>Failed impressionwise</th>
      <th>Failed useragent</th>
      <th>Failed duplicate</th>
    </tr>
  </thead>
  <tbody>
    <%- formsites_statistics.converted_counts_hash.each do |formsite_name, stats| %>
      <tr>
        <td><%= link_to formsite_name, admin_formsite_users_path(q: {formsite_id_eq: stats[:formsite]}) %></td>
        <td><%= link_to stats[:total], admin_formsite_users_path(formsites_statistics.query_params_hash(stats, {is_duplicate_eq: nil})) %></td>
        <td><%= link_to stats[:submitted], admin_formsite_users_path(formsites_statistics.query_params_hash(stats, {is_duplicate_eq: nil, user_id_not_null: true})) %></td>
        <td><%= link_to stats[:total_converted], admin_formsite_users_path(
              formsites_statistics.query_params_hash(stats, {user_id_not_null: true, is_verified_eq: true})
            ) %>
        </td>
        <td><%= link_to stats[:failed_impressionwise], admin_formsite_users_path(
              formsites_statistics.query_params_hash(stats, {user_id_not_null: true, is_impressionwise_test_success_eq: false})
            ) %>
        </td>

        <td><%= link_to stats[:failed_useragent], admin_formsite_users_path(
              formsites_statistics.query_params_hash(stats, {user_id_not_null: true, is_useragent_valid_eq: false})
            ) %>
        </td>

        <td><%= link_to stats[:failed_dulpicate], admin_formsite_users_path(
              formsites_statistics.query_params_hash(stats, {user_id_not_null: true, is_duplicate_eq: true})
            ) %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
